/* global */
html{
  box-sizing:border-box;
  font-size:15px;
}
* , ::before , ::after{
  box-sizing:inherit;
}

body{
  margin:0;
  padding:0;
  font-family:var(--font-reg);
  background: url(../images/bg-pattern-top-desktop.svg) no-repeat fixed top left,
              url(../images/bg-pattern-bottom-desktop.svg) no-repeat fixed bottom right;
  background-size:50% , 50%;
}

/* small screen devices max width 767px */
@media all and (max-width:767px){
  body{
    background: url(../images/bg-pattern-top-mobile.svg) no-repeat fixed top left,
                url(../images/bg-pattern-bottom-mobile.svg) no-repeat fixed bottom right;
    background-size:100% , 50%;
  }
}

h1 , h4 , p{
  margin:0px;
  padding:0px;
  text-transform:capitalize;
}

.wrapper{
  padding:var(--padding);
}

/* small screen devices max width 767px */
@media all and (max-width:767px){
  .wrapper{
    padding:2rem;
    margin: var(--margin) 0 ;
  }
}



/* intro  */
.top{
  margin-bottom:var(--margin);
  align-items:flex-start !important;
  justify-content:space-between !important;
}


.top .intro{
  width:40%;
 
}
.intro h1{
  font-size:4rem;
  font-weight:var(--bold);
  color:var(--dark-magenta);
  text-transform:lowercase;
}
.intro p{
  margin-top:1.5rem;
  font-size:1.2em;
  line-height:30px;
  word-spacing:2.5px;
  color:var(--dark-gray-mag);
}


/* small & medium & large screen devices max width 1200px */
@media all and (max-width:1200px){
  .top{
    display:block !important;
  }
  .top .intro{
    width:100%;
    text-align: center;
  }
  .intro h1{
    font-size:3rem;
  }
}


 /* rating */
.rating{
  width:40%;
}
.rating .small-card{
  width:85%;
  min-height:50px;
  padding:2rem 0;
  margin-bottom:1rem;
  background-color:var(--light-gray-mag);
  border-radius:1rem;
  justify-content: flex-start !important;
}
.rating .small-card.one{
  align-self:flex-start
}
.rating .small-card.three{
  align-self:flex-end
}



.rating .small-card p{
  color:var(--dark-magenta);
  font-weight:var(--bold);
  font-size:1.2em;
}
.rating .stars{
  margin:0rem 2rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rating .stars>img{
  margin:0 0.25rem;
}


/* small & medium & large screen devices max width 1200px */
@media all and (max-width:1200px){
  .rating{
    display:block !important;
    width:100%;
    margin:var(--margin) 0 ;
  }
  .rating .small-card{
    width:100%;
    padding:1rem;
    flex-flow:column wrap;
  }
  .rating .small-card p{
    margin-top: 1rem;
    font-size: initial;
  }
}


/* comments */
.bottom .comments{
  min-height:300px;
  align-items:flex-start !important;
}
.bottom .comments .large-card{
  min-width:30%;
  min-height:250px;
  margin:0 1rem;
  padding: 2rem;
  background-color:var(--dark-magenta);
  border-radius: 1rem;
  flex-flow:row wrap !important;
  justify-content: flex-start !important;
  align-items:flex-start !important;
}

.comments .large-card.two{
  align-self:center;
}
.comments .large-card.three{
  align-self:flex-end;
}



.user-pic>img{
  width:50px;
  height:50px;
  border-radius:50%;
}
.user-name{
  margin-left: 1rem;
  color:var(--white);
  font-weight:var(--semi-bold);
  line-height:1.6;
}
.user-name>span{
  color:var(--soft-pink);
  font-size:90%;
}
.large-card>p{
  margin-top: 2rem;
  color:var(--white);
  font-weight:var(--reg);
  font-size:0.8rem;
  line-height: 25px;
}

/*medium & large screen devices max width 1200px */
@media all and (min-width:768px) and (max-width:1200px){

  .comments .large-card{
    align-self:flex-start !important;
  }

}


/* small screen devices max width 767px */
@media all and (max-width:767px){
  .comments{
    flex-flow:column wrap !important;
  }
  .comments .large-card{
    margin:0 0 1rem 0  !important;
  }
}

