:root
{
/* primery color */
--dark-magenta:#502050;
--dark-gray-mag:#937b92;

/* secondery colors */
--soft-pink:#ee68a4;
--light-gray-mag:#f7f2f7;
--white:#ffffff;

/* fonts */
--font-reg:'Spartan', sans-serif;
--reg:400;
--semi-bold:500;
--bold:700;

/* padding */
--padding:8rem;
--margin:5rem;
}



/* flex */
.flex-row-jc-ac{
  display:flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.flex-col-jc-ac{
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


/* grid */
.grid{
  display:grid;
  gap:1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
}

